        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: sans-serif;
        }

        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        .container {
            text-align: center;
            height: 300px;
            max-width: 500px;
            width: 90%;
            display: flex;
            flex-direction: column;
            gap: 20%;
            padding: 20px;
        }

        #main-heading {
            color: #2c3e50;
        }

        #time {
            color: #2c3e50;
            font-size: 4rem;
        }

        button {
            width: 85px;
            height: 40px;
            margin: 0 0.5em;
            cursor: pointer;
            font-size: 1rem;
            font-weight: 600;
            color: #fff;
            border-radius: 5px;
            border: none;
            transition: 0.3s;
        }

        button:hover {
            opacity: 0.5;
        }

        #main-heading {
            font-size: 2.3rem;
        }

        #start {
            background-color: #27ae60;
        }

        #stop {
            background-color: #c0392b;
        }

        #reset {
            background-color: #7f8c8d;
        }